@model IEnumerable<IssueTracker.Models.ProjectModel>

@{
    ViewBag.Title = "Index";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Team Name
        </th>
        <th>
            Project Name
        </th>
        <th>
            Project Description
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Current Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        @{
            var startDate = item.StartDate.Value.ToString("dd-MM-yyyy");
            var endDate = item.EndDate.Value.ToString("dd-MM-yyyy");
        }
    <td>
        @Html.DisplayFor(modelItem => item.TeamList.Find(x => x.TeamId == item.TeamId).TeamName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProjectName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProjectDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => startDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => endDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StatusList.Find(x => x.StatusId == item.StatusId).StatusName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { ProjectId = item.ProjectId }) |
        @Html.ActionLink("Issues", "Index", "Issue", new { TeamId = item.TeamId, ProjectId = item.ProjectId }, null) |
        @Html.ActionLink("Delete", "Delete", new { ProjectId = item.ProjectId })
    </td>
</tr>
}

</table>
