@model IssueTracker.ViewModels.TeamViewModel

@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddUser</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ActionLink("Add Users Team", "AddUsersToTeam", null, new { @class = "btn btn-success" })

        <table style="width:100%">
            <colgroup>
                <col style="width: 30%;">
                <col style="width: 70%;">
            </colgroup>
            <tbody>
                @foreach (var item in Model.userList)
                {
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@item.UserId" id="@item.UserId" name="userCheck">
                                <label class="form-check-label" for="flexCheckDefault">
                                    @item.UserName
                                </label>
                            </div>
                        </td>
                        <td>
                            <select class="right form-select" aria-label="Default select example">
                                <option selected>Team Role *</option>
                                @foreach (var teamRole in Model.userTeamRoleModelList)
                                {
                                    <option value="@teamRole.userTeamRoleId">@teamRole.UserTeamRoleName</option>
                                }
                            </select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
