@model IEnumerable<IssueTracker.ViewModels.TeamViewModel>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <div class="form-group">
        <h2 class="align-middle">
            @{ string value = Model.FirstOrDefault().TeamName;}
            @value
        </h2>
        @Html.ActionLink("Add New User", "AddUser", "Team", new { @id = Model.FirstOrDefault().TeamId }, new {@class="btn btn-success"})
    </div>
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.UserNameSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamRoleName)
            </th>
            <th>Operations</th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.UserNameSurname == "")
            {

            }
            else
            {
            <tr>
            
                <td>
                    @Html.DisplayFor(modelItem => item.UserNameSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamRoleName)
                </td>
            
                <td>
                    @Html.ActionLink("User Details", "EditTeamMember", new { TeamId = item.TeamId, UserId = item.UserId })
                    @if (ViewBag.CreatedBy == ViewBag.CurrentUser)
                    {
                            <content>|</content>
                            @Html.ActionLink("Delete", "DeleteUserFromTeam", new { TeamId = item.TeamId, UserId = item.UserId, TeamRoleId = item.TeamRoleId })
                    }
                </td>
            </tr>
            }

        }

    </table>
</div>
