@model IEnumerable<IssueTracker.ViewModels.TeamViewModel>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserNameSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamRoleName)
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserNameSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamRoleName)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TeamId }) |
            @Html.ActionLink("Details", "Details", new { id = item.TeamId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TeamId })
        </td>
    </tr>}

    </table>
</div>
