@model IssueTracker.ViewModels.TeamViewModel

@{
    ViewBag.Title = "EditTeamMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Details</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <p class="control-label col-md-2">Name Surname</p>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.UserNameSurname, new { disabled = "disabled", @readonly = "readonly", htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserNameSurname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Description</p>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.UserDescription, new { disabled = "disabled", @readonly = "readonly", htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Team Role</p>
        <div class="col-md-10">
            @if (ViewBag.CreatedBy == ViewBag.CurrentUser)
            {
                @Html.DropDownListFor(m => m.TeamRoleId, new SelectList(Model.userTeamRoleModelList, "userTeamRoleId", "UserTeamRoleName"))
                @Html.ValidationMessageFor(model => model.TeamRoleName, "", new { @class = "text-danger" })
            }
            else
            {
                @Html.DropDownListFor(m => m.TeamRoleId, new SelectList(Model.userTeamRoleModelList, "userTeamRoleId", "UserTeamRoleName"), new { disabled = "disabled", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.TeamRoleName, "", new { @class = "text-danger" })
            }
        </div>
    </div>
    @if (ViewBag.CreatedBy == ViewBag.CurrentUser)
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
