@model IEnumerable<IssueTracker.Models.IssueModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create","Issue",new { ProjectId = ViewBag.ProjectId, TeamId = ViewBag.TeamId},null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IssueId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IssueId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssueDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {IssueId=item.IssueId}) |
            @Html.ActionLink("Actions", "Index","Action", new { IssueId = item.IssueId },null) |
            @Html.ActionLink("Delete", "Delete", new { IssueId = item.IssueId })
        </td>
    </tr>
}

</table>
