@model IEnumerable<IssueTracker.Models.ActionModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.IssueName</h2>

<p>
    @Html.ActionLink("Create New", "Create","Action",new { IssueId = ViewBag.IssueId},null)
</p>
<table class="table">
    <tr>
        <th>
            Action
        </th>
        <th>
            Description
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    var startDate = item.StartDate.Value.ToString("dd-MM-yyyy");
    var endDate = item.EndDate.Value.ToString("dd-MM-yyyy");
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusList.Find(x => x.StatusId == item.StatusId).StatusName)
        </td>
        <td>
            @if(item.StatusId != item.StatusList.Find(x=>x.StatusName == "Finished").StatusId)
                {
                    @Html.ActionLink("Set As Done","SetAsDone", new { ActionId = item.ActionId }) <content>|</content>
                }

            @Html.ActionLink("Edit", "Edit", new { ActionId = item.ActionId }) |
            @Html.ActionLink("Delete", "Delete", new { ActionId = item.ActionId })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to Issues", "Index", "Issue", new { ViewBag.TeamId, ViewBag.ProjectId }, null)
</div>
